.about-us-section {
  height: calc(100vh - 8rem);

  display: grid;
  grid-template-areas:
    "header"
    "metrics";
  grid-template-rows: 60% 40%;
}

.about-us-header {
  grid-area: header;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;

  padding: 9.6rem 0;

  & > span {
    @include font-style($fontWeight: 600, $lineHeight: 2.4rem);
    color: var(--primary-color);
  }

  & > h2 {
    @include font-style(
      $size: 4.8rem,
      $fontWeight: 600,
      $lineHeight: 6rem,
      $letterSpacing: -0.02%
    );
    color: var(--tertiary-color);
  }
}

.about-us-metrics-container {
  grid-area: metrics;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}

.metric {
  & > span {
    @include font-style(
      $size: 6rem,
      $fontWeight: 600,
      $lineHeight: 7.2rem,
      $letterSpacing: -0.02%
    );

    color: var(--primary-color);
  }

  & > h6 {
    @include font-style($size: 1.8rem, $fontWeight: 500, $lineHeight: 2.8rem);
    color: var(--tertiary-color);
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
  }

  & > p {
    @include font-style($lineHeight: 2.4rem);
    color: var(--secundary-color);
  }
}
