// Reset CSS
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Global Variebles
:root {
  font-size: 62.5%;
  --primary-color: #8e2424;
  --primary-color-hover: #9e2f2f;
  --secundary-color: #667085;
  --tertiary-color: #101828;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

//Global Class
.xl-normal-text {
  @include font-style($size: 2rem, $lineHeight: 3rem);
  color: var(--secundary-color);
  text-align: center;
}

.md-semibold-text {
  @include font-style(
    $size: 3.6rem,
    $fontWeight: 600,
    $lineHeight: 4.4rem,
    $letterSpacing: 0.02%
  );
  text-align: center;
}

// Media
@media screen and (min-width: 1281px) {
  body {
    padding: 0;
  }
}
