// Reset CSS
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

// Global Variebles
:root {
  --primary-color: #8e2424;
  --primary-color-hover: #9e2f2f;
  --secundary-color: #667085;
  --tertiary-color: #101828;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

//Global Class
//Classe de Display
.lg-semibold-display {
  @include font-style(
    $size: 4.8rem,
    $fontWeight: 600,
    $lineHeight: 6rem,
    $letterSpacing: -0.02rem
  );
}

.md-medium-display {
  @include font-style(
    $size: 3.6rem,
    $fontWeight: 500,
    $lineHeight: 4.4rem,
    $letterSpacing: -0.02rem
  );
}

.md-semibold-display {
  @include font-style(
    $size: 3.6rem,
    $fontWeight: 600,
    $lineHeight: 4.4rem,
    $letterSpacing: -0.02rem
  );
}

//Classes de texto
.sm-semibold-text {
  @include font-style($size: 1.4rem, $fontWeight: 600, $lineHeight: 2rem);
}

.sm-normal-text {
  @include font-style($size: 1.4rem, $lineHeight: 2rem);
}

.md-medium-text {
  @include font-style($fontWeight: 500, $lineHeight: 2.4rem);
}

.lg-medium-text {
  @include font-style($size: 1.8rem, $fontWeight: 500, $lineHeight: 2.8rem);
}

.xl-normal-text {
  @include font-style($size: 2rem, $lineHeight: 3rem);
}

.xl-medium-text {
  @include font-style($size: 2rem, $fontWeight: 500, $lineHeight: 3rem);
}

// Media
@media screen and (max-width: 767px) {
  :root {
    font-size: 50%;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 62.5%;
  }
}

@media screen and (min-width: 1281px) {
  body {
    padding: 0;
  }
}
