header {
  width: 100%;
  padding: 1.8rem 3.2rem;
  margin: 0 auto;

  @media screen and (min-width: 1281px) {
    padding: 1.8rem 0;
  }
}

header nav {
  display: grid;
  grid-template-areas: "logo nav-list nav-list buttons";
  align-items: center;
}

header nav img {
  grid-area: logo;
}

.nav-list {
  grid-area: nav-list;

  display: flex;
  gap: 3.2rem;

  list-style: none;
  text-decoration: none;
}

.nav-item {
  & > a {
    @include font-style($fontWeight: 500, $lineHeight: 2.4rem);
    text-decoration: none;
    color: var(--secundary-color);

    transition: color 0.3s;

    &:hover {
      color: var(--tertiary-color);

      transition: color 0.3s;
    }
  }
}

.buttons-container {
  grid-area: buttons;

  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
}

.sign-in-button,
.sign-up-button {
  @include font-style($fontWeight: 500, $lineHeight: 2.4rem);
  padding: 1rem 1.8rem;
  text-decoration: none;
}

.sign-in-button {
  color: var(--secundary-color);

  transition: color 0.3s;

  &:hover {
    color: var(--tertiary-color);

    transition: color 0.3s;
  }
}

.sign-up-button {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 0.8rem;

  transition: background-color 0.3s;

  &:hover {
    background-color: var(--primary-color-hover);
    transition: background-color 0.3s;
  }
}
