header {
  width: 100%;
  padding: 1.8rem 3.2rem;
  margin: 0 auto;
  position: relative;

  display: grid;
  grid-template-areas: "logo hamburguerMenu";
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1281px) {
    padding: 1.8rem 0;
  }
}

#primus-tech-logo {
  grid-area: logo;
}

#hamburguer-menu-icon {
  grid-area: hamburguerMenu;
  cursor: pointer;
}

header nav {
  display: none;
}

.active-menu-mobile {
  position: absolute;
  top: calc(0px + (2 * 1.8rem) + 3.5rem);

  padding: 1.8rem 3.2rem;
  width: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px rgba($color: #000, $alpha: 0.3);
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  list-style: none;
  text-decoration: none;
}

.nav-item {
  & > a {
    @include font-style($fontWeight: 500, $lineHeight: 2.4rem);
    text-decoration: none;
    color: var(--secundary-color);

    transition: color 0.3s;

    &:hover {
      color: var(--tertiary-color);

      transition: color 0.3s;
    }
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sign-in-button,
.sign-up-button {
  @include font-style($fontWeight: 500, $lineHeight: 2.4rem);
  padding: 1rem 1.8rem;
  text-decoration: none;
  text-align: center;
}

.sign-in-button {
  color: var(--secundary-color);

  transition: color 0.3s;

  &:hover {
    color: var(--tertiary-color);

    transition: color 0.3s;
  }
}

.sign-up-button {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 0.8rem;

  transition: background-color 0.3s;

  &:hover {
    background-color: var(--primary-color-hover);
    transition: background-color 0.3s;
  }
}

@media screen and (min-width: 768px) {
  header {
    grid-template-areas: "logo nav";
    justify-content: unset;
    align-items: center;
  }

  #hamburguer-menu-icon {
    display: none;
  }

  header nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-list {
    flex-direction: row;
  }

  .buttons-container {
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 992px) {
  header {
    grid-template-columns: max-content 1fr;
    gap: 15rem;
  }
}
