.oportunits-section {
  margin-top: 10rem;
  margin-bottom: 9.6rem;
}

.oportunits-header {
  display: flex;
  flex-direction: column;

  align-items: center;

  & > span {
    @include font-style($size: 1.4rem, $fontWeight: 500, $lineHeight: 2rem);
    color: var(--primary-color);
    background-color: rgba(142, 36, 36, 0.05);

    padding: 0.4rem 1.2rem;
    border-radius: 1.6rem;
  }

  & > h2 {
    margin-top: 1.6rem;
    margin-bottom: 2rem;
    color: var(--tertiary-color);
    text-align: center;
  }

  & > p {
    color: var(--secundary-color);
    text-align: center;
  }

  & > img {
    width: 100%;
    object-fit: cover;
    margin: 6.4rem 0;
  }
}

.open-oportunits-list {
  max-width: 76.8rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  & > li > h5 {
    color: var(--tertiary-color);
    margin-bottom: 3.2rem;
  }
}

.oportunits-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  & > .oportunit-card {
    display: grid;
    grid-template-areas:
      "title ..."
      "informations informations";
    gap: 3.2rem;

    padding: 2.4rem 2.4rem 2.8rem 2.4rem;
    border: 0.1rem solid #eaecf0;
    border-radius: 1.6rem;

    & > h6 {
      grid-area: title;

      color: var(--tertiary-color);
    }

    & > div {
      grid-area: informations;

      display: flex;
      gap: 2.4rem;
    }
  }
}
